### Loop

In [1]:
l = [36,25,85,65,45,89,12]

In [2]:
l

[36, 25, 85, 65, 45, 89, 12]

In [3]:
l[0]

36

In [4]:
l[1]

25

### 1. Loop: for

In [ ]:
for <index> in <iterator>:
    print(index)
    print(index)
    print(index)
    print(index)
    print(index)

In [6]:
len(l)

7

In [7]:
range(0, 10)

range(0, 10)

In [8]:
for i in range(0, 5):
    print(i)

0
1
2
3
4

In [9]:
l

[36, 25, 85, 65, 45, 89, 12]

In [10]:
for i in range(0, 7):
    print(l[i])

36
25
85
65
45
89
12

In [11]:
for i in range(0, len(l)):
    print(l[i])

36
25
85
65
45
89
12

### Sum of number in list

In [12]:
l

[36, 25, 85, 65, 45, 89, 12]

In [13]:
sum = 0

for i in range(0, len(l)):
    sum = sum + l[i]
    
print(sum)

357

### Pint the Pattern

In [14]:
word = "india"

for letter in word:
    print(letter)

i
n
d
i
a

### Multiplication Table

In [15]:
n = 1005890

for i in range(1, 11):
    print(f" {n} x {i} = {n*i}")

 1005890 x 1 = 1005890
 1005890 x 2 = 2011780
 1005890 x 3 = 3017670
 1005890 x 4 = 4023560
 1005890 x 5 = 5029450
 1005890 x 6 = 6035340
 1005890 x 7 = 7041230
 1005890 x 8 = 8047120
 1005890 x 9 = 9053010
 1005890 x 10 = 10058900

In [16]:
n=5
i=3
print(f"dfghjkghjkl: {n} {i}")

dfghjkghjkl: 5 3

### Factorial of number

In [17]:
result = 1
n = 10

for i in range(1, n+1):
    result = result * i
    
print(result)

3628800

In [18]:
n = int(input("Enter a number whose factorial we want to find  :"))
fact = 1

for i in range(1,n+1):
    fact = fact*i

print(fact)

120