### Day 1 Code Practice

#### 1. Data Types

In [2]:
import numpy as np

Primitive : int, float, string, boolean

Non-primitive : list, Dictionary, set

In [3]:
a = np.array([1,2,3,4,'q'])

In [4]:
a

array(['1', '2', '3', '4', 'q'], dtype='<U11')

In [5]:
a[1]

'2'

In [6]:
a[0:3]

array(['1', '2', '3'], dtype='<U11')

In [7]:
type(a)

numpy.ndarray

In [8]:
a = 2

In [9]:
type(a)

int

In [10]:
a = " Sachin Bidwai"

In [11]:
type(a)

str

In [12]:
a = True

In [13]:
type(a)

bool

### Non - Primitive

##### List

In [14]:
a = [1,2,3,4,5,6,7,8,9,10]

In [15]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
a[0]

1

In [17]:
a[3:6]

[4, 5, 6]

In [18]:
a[-1]

10

In [19]:
a[-5]

6

In [20]:
a[1:6:2]

[2, 4, 6]

In [21]:
a[::2]

[1, 3, 5, 7, 9]

In [22]:
a[:4:2]

[1, 3]

In [23]:
a[::3]

[1, 4, 7, 10]

In [24]:
b = [11,12,13]

In [25]:
a+b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [26]:
a.pop()

10

In [27]:
a.pop()

9

In [28]:
a.pop(2)

3

In [29]:
a

[1, 2, 4, 5, 6, 7, 8]

In [30]:
a.append(100)

In [31]:
a

[1, 2, 4, 5, 6, 7, 8, 100]

### Count the appearance of element

In [32]:
a.count(1)

1

In [33]:
a.append(1)

In [34]:
a

[1, 2, 4, 5, 6, 7, 8, 100, 1]

### Remove the first appearance of the element

In [35]:
a.remove(1)

In [36]:
a

[2, 4, 5, 6, 7, 8, 100, 1]

### Dictionary

In [37]:
t = dict()

In [38]:
type(t)

dict

In [39]:
t = {}

In [40]:
type(t)

dict

In [41]:
t["name"] = 'ajay'

In [42]:
t

{'name': 'ajay'}

In [43]:
t['name']

'ajay'

### Create Dictionary with values

In [44]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

In [45]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

### Clear all the elements from dictionary

In [46]:
car = car.clear()

In [47]:
print(car)

None

In [48]:
a

[2, 4, 5, 6, 7, 8, 100, 1]

In [49]:
car = {
    "brand":"Ford",
    "model":"Mustang",
    "year":1964
}

#### Return a list containing a tuple for each key value pair

In [50]:
car.keys()

dict_keys(['brand', 'model', 'year'])

In [51]:
car.values()

dict_values(['Ford', 'Mustang', 1964])

### pop() Removes the element with the specified key

In [52]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [53]:
car.pop('brand')

'Ford'

In [54]:
car

{'model': 'Mustang', 'year': 1964}

### values() Returns a list of all the values in the dictionary

In [55]:
car.values()

dict_values(['Mustang', 1964])

### Data Type Conversion

In [56]:
t = 2.0003

In [57]:
type(t)

float

In [58]:
t = int(t)

In [59]:
type(t)

int

### Multi-Variable Assignment operator

In [60]:
a,b,c = 1,2,3

In [61]:
print(a,b,c)

1 2 3

In [62]:
fruits = ["apple", "banana", "cherry"]
x,y,z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [63]:
x = "Python"
y = "is"
z = "awesome"
print(x,y,z)

Python is awesome

### Python if ... else
* Python Conditions and if statements

* Python supports the usual logical conditions from mathematics:

   1. Equals: a == b
   2. Not Equals: a != b
   3. Less than: a < b
   4. Less than or equal to: a <= b
   5. Greater than: a > b
   6. Greater than or equal to: a >= b

In [64]:
a = 1
b = 1

if a == b:
    print('a holds same values as b')

a holds same values as b

In [65]:
a = 5
b = 1

if a > b:
    print('a greater than b')

a greater than b

### Python Loops

#### Python has two primitive loop commands:
* while loops
* for loops

In [66]:
i = 1 
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [67]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
    print(x)

apple
banana
cherry

### Looping Through a String

In [68]:
for x in "banana":
    print(x)

b
a
n
a
n
a

### The Break Statement

In [69]:
i = 1

while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

### Pass Statement

In [70]:
i = 1

while i < 6:  
    if i == 3:
        pass
    else: 
        print(i)
    i += 1

1
2
4
5

### Creating a Function

In [71]:
def my_function():
    print("Hello from a function")

In [72]:
my_function()

Hello from a function

In [74]:
def my_function(fname):
    print(fname + " Refsnes")

my_function("Email")
my_function("Tobias")
my_function("Linus")

Email Refsnes
Tobias Refsnes
Linus Refsnes

### Python Lambda
* A lambda function is a s small anonymous function.
* A lambda function can take any number of arguments, but can only have one expression.

In [75]:
x = lambda a : a + 10
print(x(5))

15

In [79]:
x = lambda a : a**3
print(x(5))

125

In [82]:
x = lambda a, b: a * b
print(x(7, 9))

63

In [85]:
x = lambda a, b, c : (a*c)/b
print(x(2,5,8))

3.2

### Output as a Integer number

In [86]:
x = lambda a, b, c : (a*c)/b
print(int(x(2,5,8)))

3

### Complex number

In [87]:
x = lambda a, b, c : (a*c)/b
print(complex(x(2,5,8)))

(3.2+0j)

In [88]:
square = lambda a : a**2
print(square(6))

36

In [93]:
square_number = lambda a : a*a
print(square_number(7))

49

### Find Prime Number numbers between 1 to 100 by using lambda function.

In [89]:
is_prime = lambda x: all(x % i != 0 for i in range(2, int(x**0.5) + 1)) and x > 1

prime_numbers = list(filter(is_prime, range(1, 101)))
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [95]:
x = lambda a, b, c : a + b + c
print(x(6,2,8))

16

### Python Classes and Objects

* Python is an object oriented programming language.
* Almost everything in python is an object, with its properties and methods.
* A Class is like an object constructor or a "blueprint" for creating objects.

1. Create a class named MyClass with a property named x:

In [104]:
class MyClass :
    temp = 5
    t = 1
    a = 'Sachin'
    x = 525.961
    b = {'a':21, 'b':'Bidwai'}

In [97]:
obj = MyClass()
obj.temp

5

In [99]:
obj.b['b']

'Bidwai'

In [100]:
obj.a

'Sachin'

In [105]:
obj.x

525.9

### The __init__() Function

* The examples above are classes and objects in their simplest form and are not really useful in real life applications.
* To understand the meaning of classes we have to understand the built - in __init__() function.
* All classes have a function called __init__(), which is always executed when the class is being initiated.
* Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

In [106]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 =Person("Sachin", 41)

print(p1.name)
print(p1.age)

Sachin
41

In [108]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"{self.name} age is ({self.age})"
    
p1 = Person("Kaustubh", 12)

print(p1)

Kaustubh age is (12)

In [117]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def myfunc(self):
        print("Hello my name is " + self.name)
        print("I am", self.age , "years old.")

p1 = Person("Ruthvij", 8)

p1.myfunc()

Hello my name is Ruthvij
I am 8 years old.

### The self Parameter

* The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.
* It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [123]:
class Person:
    def __init__(mysillyobject, name , age):
        mysillyobject.name = name
        mysillyobject.age = age

    def myfunc(abc):
        print("Hello, my name is", abc.name)
        print("I am", abc.age, "years olds")

p1 = Person("Sachin", 41)
p1.myfunc()

Hello, my name is Sachin
I am 41 years olds

### Modify Object Properties

In [124]:
p1.age = 25
print(p1.age)

25

### Delete Object Properties

* You can delete properties on objects by using the del keyword:

In [125]:
del p1.age

### Delete Object

* You can delete objects by using the del keyword:

In [126]:
del p1

### The pass Statement
* class definitions cannot be empty, but if you for some reason have a class definition with no content, put in the pass statement to avoid getting an error.

In [127]:
class Person:
    pass

    def my_func():
        pass

## Class Polymorphism
* Polymorphism is often used in Class methods, where we can have multiple classes with the same method name.
* For example, say we have three classes: Car, Boat, and Plane, and they all have a method called move():

In [128]:
class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def move(self):
        print("Drive!")

class Boat:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def move(self):
        print("Sail!")

class Plane:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def move(self):
        print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for x in (car1, boat1, plane1):
    x.move()

Drive!
Sail!
Fly!

## Variable Scope
#### Local Scope
* A variable created inside a function belongs to the local scope of that function, and can only be used inside that function.

In [129]:
def myfunc():
    x = 300
    print(x)

myfunc()

300